<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.core.mapper.TblParamMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.core.model.TblParam" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="param_type" property="paramType" jdbcType="VARCHAR" />
    <result column="param_code" property="paramCode" jdbcType="VARCHAR" />
    <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
    <result column="param_url" property="paramUrl" jdbcType="VARCHAR" />
    <result column="param_desc" property="paramDesc" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, param_type, param_code, param_value, param_url, param_desc, create_date, update_date, 
    creator, updator, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cloud.core.model.TblParamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_param
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_param
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cloud.core.model.TblParamExample" >
    delete from tbl_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cloud.core.model.TblParam" >
    insert into tbl_param (id, param_type, param_code, 
      param_value, param_url, param_desc, 
      create_date, update_date, creator, 
      updator, is_deleted)
    values (#{id,jdbcType=BIGINT}, #{paramType,jdbcType=VARCHAR}, #{paramCode,jdbcType=VARCHAR}, 
      #{paramValue,jdbcType=VARCHAR}, #{paramUrl,jdbcType=VARCHAR}, #{paramDesc,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{updator,jdbcType=VARCHAR}, #{isDeleted,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.core.model.TblParam" >
    insert into tbl_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paramType != null" >
        param_type,
      </if>
      <if test="paramCode != null" >
        param_code,
      </if>
      <if test="paramValue != null" >
        param_value,
      </if>
      <if test="paramUrl != null" >
        param_url,
      </if>
      <if test="paramDesc != null" >
        param_desc,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paramType != null" >
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramCode != null" >
        #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramUrl != null" >
        #{paramUrl,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null" >
        #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cloud.core.model.TblParamExample" resultType="java.lang.Integer" >
    select count(*) from tbl_param
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_param
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.paramType != null" >
        param_type = #{record.paramType,jdbcType=VARCHAR},
      </if>
      <if test="record.paramCode != null" >
        param_code = #{record.paramCode,jdbcType=VARCHAR},
      </if>
      <if test="record.paramValue != null" >
        param_value = #{record.paramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.paramUrl != null" >
        param_url = #{record.paramUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.paramDesc != null" >
        param_desc = #{record.paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updator != null" >
        updator = #{record.updator,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_param
    set id = #{record.id,jdbcType=BIGINT},
      param_type = #{record.paramType,jdbcType=VARCHAR},
      param_code = #{record.paramCode,jdbcType=VARCHAR},
      param_value = #{record.paramValue,jdbcType=VARCHAR},
      param_url = #{record.paramUrl,jdbcType=VARCHAR},
      param_desc = #{record.paramDesc,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      updator = #{record.updator,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.core.model.TblParam" >
    update tbl_param
    <set >
      <if test="paramType != null" >
        param_type = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramCode != null" >
        param_code = #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramUrl != null" >
        param_url = #{paramUrl,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null" >
        param_desc = #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.core.model.TblParam" >
    update tbl_param
    set param_type = #{paramType,jdbcType=VARCHAR},
      param_code = #{paramCode,jdbcType=VARCHAR},
      param_value = #{paramValue,jdbcType=VARCHAR},
      param_url = #{paramUrl,jdbcType=VARCHAR},
      param_desc = #{paramDesc,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>