<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>layui</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <script src="/plugins/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body style="margin: 10px;">

<blockquote class="layui-elem-quote news_search">
    <div class="demoTable" id="layerDemo">
        用户名：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off"/>
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
        <button data-method="setTop" class="layui-btn layui-btn-normal newsAdd_btn">添加用户</button>
        <button class="layui-btn layui-btn-danger batchDel">批量删除</button>
    </div>
</blockquote>
<div class="layui-form news_list">
    <table class="layui-hide" id="test"></table>
</div>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('layer', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
        //触发事件
        var active = {
            setTop: function () {
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '添加用户'
                    , area: ['100%', '100%']
                    , shade: 0
                    , content: '/permission/add'
                    , yes: function () {
                        $(that).click();
                    }
                    , btn2: function () {
                        layer.closeAll();
                    }
                    , zIndex: layer.zIndex //重点1
                    , success: function (layero) {
                        layer.setTop(layero); //重点2
                    }
                });
            }
        };
        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '/permission/data'
            , cols: [[
                {type: 'checkbox'}
                , {field: 'id', width: '10%', title: 'ID', sort: true}
                , {field: 'nickname', width: '10%', title: '用户名'}
                , {field: 'email', width: '10%', title: '性别', sort: true}
                , {field: 'lastLoginTime', minwidth: '10%', title: '城市'}
                , {field: 'status', title: '签名', width: '10%'}
            ]]
            , page: true
            , id: 'testReload'
        });
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        nickname: demoReload.val()
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        $('.batchDel').on('click', function () {
            var size = $('.layui-table-box').find("input[type=checkbox]:checked").length;
            if (size == 0) {
                //配置一个透明的询问框
                layer.msg('请选择需要删除的用户', {
                    time: 2000 //20s后自动关闭
                });
            } else {
                layer.alert('确认删除吗？', {
                    skin: 'layui-layer-molv' //样式类名  自定义样式
                    , closeBtn: 1    // 是否显示关闭按钮
                    , anim: 3 //动画类型
                    , btn: ['确认', '取消'] //按钮
                    , icon: 5    // icon
                    , yes: function () {
                        var ids = "";
                        var checkStatus = table.checkStatus('testReload'); //test即为基础参数id对应的值
                        console.log(checkStatus.data[0].id);
                        for (row in checkStatus.data) {
                            ids += checkStatus.data[row].id + ",";
                        }
                        ids = ids.substring(0, ids.length - 1);
                        $.ajax({
                            type: "POST",
                            data: {"ids": ids},
                            url: "/permission/delete",
                            success: function (data) {
                                if ("0" == data.code) {
                                    window.location.reload(); //刷新本页面
                                }
                            }
                        });
                    }
                    , btn2: function () {
                    }
                });
            }
        });
    });
</script>
</body>
</html>